.main {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.formRow {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.error {
  color: red;
  margin-top: 1rem;
}

@media (max-width: 768px) {
  .main {
    padding: 1rem;
  }

  .formRow {
    flex-direction: column;
  }
}